body {
    font-family: Montserrat;
    background-image: url('seamless-food-light.png');
    background-repeat: repeat;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    line-height: 0px;
}

#content {
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
}

button.go {
    margin: 0 auto;
    background: #fabbbb;
    border: #fabbbb 3px double;
    padding: 20px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label {
    display:inline-block;
}

.enter {
    padding: 40px;
}

.credits {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}

.credits a {
    color: #666;
}