{% extends "base.html" %} 

{# replaces default content block #}
{% block content %}
<div id="content">
    <div class="intro">
        <p>First, enter your information about your period.</p>
        <p>Then, we'll calculate how much money you'll spend on menstrual products and how many menstrual products you'll use in your lifetime.</p>
    </div>
    <form method="post" action="{{ url_for('calculate') }}">
        <div class="pad">
            <label for="pad"><b>How many pads do you use each day?</b></label>
            <input type="number" placeholder="" name="pad">
        </div>

        <div class="tampon">
            <label for="tampon"><b>How many tampons do you use each day?</b></label>
            <input type="number" placeholder="" name="tampon">
        </div>

        <div class="liner">
            <label for="liner"><b>How many pantiliners do you use each day?</b></label>
            <input type="number" placeholder="" name="liner">
        </div>

        <div class="period">
            <label for="period"><b>How many days does your period last?</b></label>
            <input type="number" placeholder="" name="period">
        </div>

        <div class="year">
            <label for="year"><b>How many times a year do you get your period?</b></label>
            <input type="number" placeholder="" name="year">
        </div>
    
        <div class="enter"><button type="submit">Enter</button></div>
    </form>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}